:root {
  --color-bg-default: #fff; /* Базовый (основной) цвет фона */
  --color-bg-secondary: #ecf1f4; /* Дополнительный (второстепенный) цвет фона */
  --color-bg-brand: #0071b2; /* Цвет фона для брендовых блоков */
  --color-bg-link: #0078d2; /* Цвет фона для ссылочных или CTA блоков */
  --color-bg-ghost: rgba(0,32,51,.08); /* Полупрозрачный цвет для дополнительного выделения или разделения блоков или секций. Обычно используется поверх основных фонов (default или secondary) */
  --color-bg-stripe: rgba(0,32,51,.05); /* Цвет для едва заметного разделения, например чтобы разделить строки в таблицах */
  --color-bg-border: rgba(0,65,102,.2); /* Цвет большинства бордеров и тонких разделителей */
  --color-bg-tone: rgba(0,32,51,.85); /* Тёмный цвет подложки (оверлея) под высплывающими окнами */
  --color-bg-soft: hsla(0,0%,100%,.9); /* Светлый цвет подложки (оверлея) под высплывающими окнами */
  --color-bg-normal: #56b9f2; /* Цвет фона для блоков, сообщающих об нормальном (нейтральном) состоянии системы */
  --color-bg-success: #22c38e; /* Цвет фона для блоков, сообщающих об успешном действии/статусе */
  --color-bg-caution: #f2c94c; /* Цвет фона для блоков, сообщающих об осторожном действии/статусе */
  --color-bg-warning: #f38b00; /* Цвет фона для блоков, сообщающих об предупреждающем действии/статусе */
  --color-bg-alert: #eb5757; /* Цвет фона для блоков, сообщающих об опасном (ошибочном) действии/статусе */
  --color-bg-critical: #33000f; /* Цвет фона для блоков, сообщающих об критичном действии/статусе */
  --color-typo-primary: #002033; /* Основной текст */
  --color-typo-secondary: rgba(0,32,51,.6); /* Второстепенный текст */
  --color-typo-brand: #0071b2; /* Брендовый текст */
  --color-typo-ghost: rgba(0,32,51,.3); /* Третьестепенный текст */
  --color-typo-link: #0078d2; /* Ссылка */
  --color-typo-link-hover: #008efa; /* При наведении на ссылку */
}

html,body {
  height: 100%;
}

body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  color: var(--color-typo-primary);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main.main {
  flex: 1 1 auto;
}

.border {
  border: 1px solid var(--color-bg-border) !important;
}

.border-start {
  border-left: 1px solid var(--color-bg-border) !important;
}

.border-top {
  border-top: 1px solid var(--color-bg-border) !important;
}

.border-end {
  border-right: 1px solid var(--color-bg-border) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--color-bg-border) !important;
}

.col-004 {
  -ms-flex: 0 0 4%;
  flex: 0 0 4%;
  max-width: 4%;
}

.col-005 {
  -ms-flex: 0 0 5%;
  flex: 0 0 5%;
  max-width: 5%;
}

input[readonly]
{
    color: rgba(0,32,51,.6);
}

/*------------------------------------- HEADER -------------------------------------*/

.header {
  margin-bottom: 10px;
}

.header-first-row {
  background-color: var(--color-bg-brand);
}

.logo {
  width: 32px;
  height: 32px;
}

.title__name {
  color: var(--color-bg-default);
}

.nav-item a{
  color: var(--color-bg-default);
}

.nav-item a.active{
  font-weight: 700;
}

.nav-item a:hover{
  color: var(--color-typo-primary);
}

.user__name  {
  color: var(--color-bg-default);
}

.user__status  {
  color: var(--color-bg-default);
  font-size: 12px;
}

.bi-box-arrow-right {
  font-size: 24px;
  color: var(--color-bg-default);
  
}

.bi-box-arrow-right:hover {
  color: var(--color-typo-primary);
}

.logout {
  border-left: 1px solid var(--color-bg-default);
}

.header-second-row {
  border-bottom: 1px solid var(--color-bg-brand);
}

.btn-add-equipment {
  color: var(--color-bg-brand);
  border: 1px solid var(--color-bg-brand);
  transition: all 0.3s;
}

.btn-add-equipment:hover {
  color: var(--color-bg-default);
  background-color: var(--color-bg-brand);
  transition: all 0.3s;
}


/*------------------------------------- MAIN -------------------------------------*/

.equipment-header-item {
  font-weight: 500;
}

.bi-window, .bi-arrow-up-right-square {
  font-size: 20px;
  color: var(--color-typo-primary);
}

.bi-window:hover, .bi-arrow-up-right-square:hover {
  color: var(--color-typo-link-hover);
  transition: all 0.3s;
}


.accordion, .accordion-header, .accordion-item, .accordion-body, .accordion-button, .--bs-accordion-border-radius, .--bs-accordion-inner-border-radius {
  color: var(--color-typo-primary);
}

.accordion-button:focus {
  box-shadow: none;
}

/*TODO надо оно или нет? */
.accordion-button-ptvs:not(.collapsed), .accordion-button-mestorozhdenie:not(.collapsed) {
  border-top: 1px solid var(--color-bg-border);
  border-bottom: 1px solid var(--color-bg-border);
  color: var(--color-typo-brand);
}

.accordion-button:not(.collapsed) {
  color: var(--color-typo-brand);
}

.accordion-button {
  background-color: var(--color-bg-secondary);
  color: var(--color-typo-brand)
}

.equipment-header-item, .equipment-item  {
  font-size: 12px;
}

.equipment-item-row:hover div,{
  background-color: var(--color-bg-stripe);
}


/*------------------------------------- MODAL WINDOW -------------------------------------*/
.modal-status select:disabled {
  font-weight: 400;
  color: var(--color-bg-success);
  background-image: none;
  background-color: var(--color-bg-default);
}

.modal-status--work{
  border: 3px solid var(--color-bg-success);
}

.accordeon-general-information-span,
.accordeon-accessory-span, .accordeon-location-information-span,
.accordeon-location-span, .accordeon-type-span, .accordeon-calibration-span {
  color: var(--color-typo-secondary);
}

a.form-control-plaintext{
  color: var(--color-typo-secondary);
}

.modal-open-new-window__link img {
  color: red;
}

.modal-open-new-window {
  width: 32px;
  height: 32px;
}

.modal-open-new-window__link i{
  font-size: 32px;
  color: var(--color-typo-secondary);
}

.btn-secondary {
  background-color: var(--color-typo-secondary);
  border-width: 2px;
}

.btn-secondary:hover {
  color: var(--color-typo-secondary);
  background-color: var(--color-bg-default);
  border-color: var(--color-typo-secondary);
  font-weight: 400;
  transition: all 0.3s;
}

.btn-primary {
  background-color: var(--color-typo-brand);
  border-color: var(--color-bg-brand);
  border-width: 2px;
}

.btn-primary:hover {
  color: var(--color-typo-brand);
  background-color: var(--color-bg-default);
  border-color: var(--color-bg-brand);
  font-weight: 400;
  transition: all 0.3s;
}
/*------------------------------------- FOOTER -------------------------------------*/

.footer {
  background-color: var(--color-bg-default);
  border-top: 1px solid var(--color-bg-border)
}

